[Unit]
Description=Executa o limitador de sessões do SSHPlus

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
RandomizedDelaySec=3s
Persistent=true
Unit=sshplus-limiter.service

[Install]
WantedBy=timers.target
